// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.logo {
    // width: 150px;
    height: 150px;
}

.logo-container {
    position: relative;
    display: inline-block;
    border: solid 1px black;
}

.removed {
    opacity: 0.5;
}

.del-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}